/*Utils*/
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";
@import "./utils/keyframes";

/*Base*/
@import "./base/base";
@import "./base/typography";

/*Components*/
@import "./components/heart";

/*Layouts*/
@import "./layouts/loader";
@import "./layouts/header";
@import "./layouts/header-restaurants";
@import "./layouts/process";
@import "./layouts/container";
@import "./layouts/search";
@import "./layouts/restaurants";
@import "./layouts/footer";

/*Pages*/ 
@import "./pages/menu-restaurant";

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}