@mixin btn {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    border-radius: 2.5rem;
    align-items: center;
    padding: 0 0.7rem;
    background: linear-gradient(173deg, $secondary-color, $primary-color);
    text-decoration: none;
    box-shadow: 0 0.2rem 0.5rem 0 rgb(0 0 0 / 35%);
    color: white;
    transition: 1.5s;    
    width: 50%;
    max-width: 210px;
    min-width: 210px;
    margin-bottom: 1rem;
    &:hover{
        transform: scale(1.1);
        box-shadow: 0 0.2rem 0.5rem 0 rgb(0 0 0 / 55%);
        padding: 0 0.7rem;
        margin-bottom: 1rem;
    }
}