.like{
        &--full{
        position: absolute;
        top: 0rem;
        left: 0rem;
        background: linear-gradient(170deg, #FF79DA, #9356DC);
        //prends la forme du coeur
        -webkit-background-clip: text;
        //fais apparaitre le background
        -webkit-text-fill-color: transparent;
        transform: scale(0); 
        z-index: -1 ;
        }

    &--empty{
        font-size: 2.5rem;
        cursor: pointer;
        position: relative;
        transition: color 500ms ease;
        z-index: 2;
        margin-top: 0.6em;
        &:hover .like--full{
             cursor: pointer;
            transform: scale(1) ;
        }
           
    }

}
