.header{
    &_logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
            &_text{
            font-family: $title-font;
        }
    }
}
